

.ul{
    list-style: none;
    li{
        display: inline-block;
        background-color: lightcoral;
        padding: 10px 20px;
        position: relative;
        a{
            text-decoration: none;
            color: white;
        }
        &:hover{
            background-color: aqua;
        }
        &:hover a{
            color: black;
        }
        &::after{
            content: "";
            width: 0%;
            height: 5px;
            background-color: black;
            position: absolute;
            top: 100%;
            left: 0;
            transition: .6s;
        }
        &:hover::after{
            width: 100%;
        }
    } 
}