$back : rgb(98, 191, 222);
$color : red;

.ul{
    list-style: none;
    li{
        display: inline-block;
        padding: 10px 20px;
        background: $back;
        a{
            text-decoration: none;
            color: $color;
        }
        &:hover{
            background-color: lightcoral;
            
        }
        &:hover a{
            color: black;
        }
    }
}


